.header{
   background-image:url(Bitmap-1.jpg) ;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background: radial-gradient(85.90% 85.90% at 50.00% 14.10%, rgba(41, 48, 61, 0.00) 0%, #071629 100%), #000;
    background-blend-mode: normal, color;
    width: 1448.15px;
    height: 1055px;
    flex-shrink: 0;
}
.logo{
    position: absolute;
    display: inline-block;
    align-items:flex-start;
    justify-content: flex;
    justify-content: center;
    margin-left: 15%;
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
    gap: 20%;
    margin-top: 3%;
}
.menu{
    position: absolute;
    justify-content: space-between;
    display: inline-block;
    align-items:flex-start;
    height: 15px;
    justify-content: center;
    flex-shrink: 0;
    gap: 20%;
    margin-left: 80%;
    margin-top: 2%;
}
.first{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    
}
.button{
    border-radius: 22px;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 45%;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.p{
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 20%;
    justify-content: space-between;
    margin-left: 50%;
}
.h{
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;

}
.avatar{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    align-items: baseline;
    width: 150px;
    margin-left: 15%;
    height: 150px;
    flex-shrink: 0;
    gap: 100%;
}

.avatar1{
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    background-color: #C271FF;
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
    fill: #C271FF;
}
.tutorials{
    display: flex;
    position: relative;
    display:inline-block;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:center;
    width: 1228px;
    height: 450px;
    flex-shrink: 0;
}



