.logo{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    justify-content: space-between;
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}
.menu{
    display: inline-block;
    height: 15px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
    

}