html, body 
{ width: 100% }


main
{ display:flex; width: 100%; flex-direction: row;flex: auto;}


    article {
    border: 2px solid black;
    background-color: white;
    color: aqua;
    flex: 2;
    display: block; 
    float: left; 
    width: 40%;
    overflow-y: auto;
    }

    aside {
    flex: 1;
    display: block; 
    float: right; 
    width:34%;
    overflow-y: auto;
    }

header{
    width: 100%;
    display:flex; 
    float:inline-start; 
    overflow-y: auto;
    flex-direction: row;
}

footer{
    display: block;
    float:left ;
    width: 100%;
}