html, body 
{ width: 100% }
table, th, td {
    border: 1px solid black; writing-mode: horizontal-tb; padding: 8px
  }
  




main
{ display:flex; width: 100%; flex-direction: row;flex: auto;}


    article {
    background-color: white;
    color: darkgreen;
    flex: 2;
    display: block; 
    float: left; 
    overflow-y: auto;
    }

    aside {
    flex: 1;
    display: block; 
    float: right; 
    overflow-y: auto;
    }

header{
    float: left;
    display: block;
    width: 100%;
}

footer{
    display: block;
    float:left ;
    width: 100%;
}